//FONT-SIZE
$default-font-size: 16px;
$small-font-size: 18px;
$medium-font-size: 28px;
$big-font-size: 70px;
$large-font-size: 140px;

// COLORS
$color-primary: #95e1d3;
$gradient-color-secondary-light: #fbe389;
$gradient-color-secondary-dark: #f38181;
$color-grey: #999999;
$color-grey-light: #e5e5e5;
$color-white: #fff;
$color-black: #000;

$svg-filter-color: brightness(0) saturate(100%) invert(84%) sepia(27%) saturate(617%)
  hue-rotate(355deg) brightness(105%) contrast(97%);
//GRID
$grid-column-gap: 40px;
$grid-row-gap: 60px;
