.section-features {
  margin: 0 auto;
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: $grid-column-gap;
    grid-row-gap: $grid-row-gap;
    justify-items: stretch;
  }

  &__item {
    display: flex;
    text-align: center;
  }

  &__text-box {
    text-align: left;
    padding: 0 20px;
  }

  &__icon {
    height: 30px;
    width: auto;
  }

  &__item--1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  &__item--2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  &__item--3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  &__item--4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  &__item--5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  &__item--6 {
    grid-area: 2 / 3 / 3 / 4;
  }
}
